In [1]:
import pandas as pd
import csv

In [2]:
def find_divident(file):
    data = pd.read_csv(file)
    df= pd.DataFrame(data)
    #print(df)
    Adj_close_ratio_list = [0]
    Close_ratio_list = [0]
    date_list = []
    divident_list = []
    for i in range (1,len(df)):
        Adj_close_ratio_list.append(round(df['Adj Close'][i-1]/df['Adj Close'][i], 3))
        Close_ratio_list.append(round(df['Close'][i-1]/df['Close'][i], 3))
    df['Close Ratio'] = Close_ratio_list
    df['Adj Close Ratio'] =  Adj_close_ratio_list
    print(df)
    for i in range(len(df)-1):
        if (df['Close Ratio'][i] != df['Adj Close Ratio'][i]) :
            date_list.append(df['Date'][i])
            divident_list.append(((df['Close Ratio'][i] - df['Adj Close Ratio'][i] )* df['Close'][i]))
    final_df = pd.DataFrame(list(zip(date_list,divident_list)), columns = ['Date','Divident'])
    return (final_df)

In [3]:
df_IBM=find_divident( './IBM.csv')

           Date        Open        High         Low       Close   Adj Close  \
0    2018-01-02  154.500000  154.809998  153.539993  154.250000  142.483978
1    2018-01-03  157.339996  159.809998  156.330002  158.490005  146.400558
2    2018-01-04  159.649994  162.320007  159.369995  161.699997  149.365707
3    2018-01-05  162.440002  162.899994  161.100006  162.490005  150.095444
4    2018-01-08  162.660004  163.910004  161.699997  163.470001  151.000687
5    2018-01-09  163.899994  164.529999  163.059998  163.830002  151.333221
6    2018-01-10  162.910004  164.330002  162.500000  164.179993  151.656525
7    2018-01-11  164.800003  164.940002  163.300003  164.199997  151.675003
8    2018-01-12  164.020004  164.740005  163.029999  163.139999  150.695847
9    2018-01-16  165.100006  165.289993  163.350006  163.850006  151.351700
10   2018-01-17  168.009995  169.130005  167.259995  168.649994  155.785538
11   2018-01-18  170.000000  171.130005  168.149994  169.119995  156.219681
12   2018-01-19  164.460007  165.399994  161.300003  162.369995  149.984573
13   2018-01-22  161.509995  163.979996  161.110001  162.600006  150.197052
14   2018-01-23  162.820007  166.259995  162.509995  166.250000  153.568619
15   2018-01-24  166.750000  168.720001  164.820007  165.369995  152.755737
16   2018-01-25  165.910004  166.779999  165.190002  165.470001  152.848114
17   2018-01-26  166.119995  167.410004  165.789993  167.339996  154.575485
18   2018-01-29  167.449997  168.389999  166.009995  166.800003  154.076660
19   2018-01-30  166.210007  166.770004  163.160004  163.619995  151.139236
20   2018-01-31  163.750000  164.990005  162.759995  163.699997  151.213120
21   2018-02-01  163.190002  164.130005  161.899994  162.399994  150.012283
22   2018-02-02  161.699997  162.000000  158.869995  159.029999  146.899338
23   2018-02-05  157.889999  158.500000  150.000000  152.529999  140.895157
24   2018-02-06  150.289993  155.490005  149.110001  155.339996  143.490814
25   2018-02-07  154.169998  155.339996  153.279999  153.850006  142.114487
26   2018-02-08  152.479996  153.160004  147.500000  147.589996  137.674271
27   2018-02-09  148.600006  150.539993  144.399994  149.509995  139.465302
28   2018-02-12  150.899994  152.399994  150.300003  151.399994  141.228287
29   2018-02-13  150.899994  151.179993  149.639999  150.750000  140.621979
..          ...         ...         ...         ...         ...         ...
221  2018-11-15  119.660004  121.440002  119.510002  121.440002  117.250671
222  2018-11-16  120.889999  121.849998  120.540001  121.570000  117.376175
223  2018-11-19  121.629997  122.180000  119.769997  120.309998  116.159645
224  2018-11-20  118.489998  119.489998  116.699997  117.199997  113.156929
225  2018-11-21  117.610001  119.510002  117.389999  118.570000  114.479668
226  2018-11-23  118.089996  118.339996  116.910004  117.190002  113.147278
227  2018-11-26  118.370003  120.250000  118.059998  119.559998  115.435516
228  2018-11-27  118.379997  120.040001  118.370003  120.029999  115.889297
229  2018-11-28  121.010002  123.089996  120.220001  123.000000  118.756851
230  2018-11-29  122.440002  123.120003  121.400002  121.480003  117.289284
231  2018-11-30  121.660004  124.690002  121.480003  124.269997  119.983032
232  2018-12-03  125.669998  126.589996  124.360001  125.309998  120.987160
233  2018-12-04  124.489998  124.919998  121.330002  121.599998  117.405136
234  2018-12-06  119.720001  123.910004  119.300003  123.910004  119.635460
235  2018-12-07  123.900002  124.050003  118.870003  119.339996  115.223106
236  2018-12-10  119.739998  121.680000  118.519997  121.129997  116.951355
237  2018-12-11  123.250000  123.809998  120.000000  120.889999  116.719635
238  2018-12-12  122.510002  122.879997  121.000000  121.160004  116.980324
239  2018-12-13  121.260002  121.790001  120.169998  120.730003  116.565170
240  2018-12-14  119.500000  121.110001  119.440002  119.900002  115.763786
241  2018-12-17  119.070000  119.779999  115.070000  116.099998  112.094879
242  2018-12-18  116.900002  118.230003  116.019997  116.650002  112.625908
243  2018-12-19  117.150002  120.269997  115.970001  116.430000  112.413498
244  2018-12-20  115.699997  116.449997  111.699997  113.019997  109.121124
245  2018-12-21  112.500000  115.279999  110.440002  110.940002  107.112885
246  2018-12-24  109.900002  111.000000  107.500000  107.570000  103.859131
247  2018-12-26  108.000000  111.389999  105.940002  111.389999  107.547356
248  2018-12-27  109.989998  113.779999  109.470001  113.779999  109.854912
249  2018-12-28  114.220001  114.800003  112.500000  113.029999  109.130783
250  2018-12-31  113.330002  114.349998  112.419998  113.669998  109.748711

       Volume  Close Ratio  Adj Close Ratio
0     4202500        0.000            0.000
1     9441600        0.973            0.973
2     7556200        0.980            0.980
3     5195800        0.995            0.995
4     5237500        0.994            0.994
5     4341800        0.998            0.998
6     4174100        0.998            0.998
7     3794500        1.000            1.000
8     5031900        1.006            1.006
9     7794200        0.996            0.996
10   11710000        0.972            0.972
11   14259300        0.997            0.997
12   21172500        1.042            1.042
13    8480800        0.999            0.999
14    7466200        0.978            0.978
15    5645000        1.005            1.005
16    3302500        0.999            0.999
17    3787900        0.989            0.989
18    3517000        1.003            1.003
19    4902300        1.019            1.019
20    4072800        1.000            1.000
21    4434200        1.008            1.008
22    5251900        1.021            1.021
23    8746600        1.043            1.043
24    9867700        0.982            0.982
25    6149200        1.010            1.010
26    6779100        1.042            1.032
27    7828300        0.987            0.987
28    5881400        0.988            0.988
29    4891000        1.004            1.004
..        ...          ...              ...
221   5207900        0.990            0.990
222   4076300        0.999            0.999
223   4131200        1.010            1.010
224   6233800        1.027            1.027
225   5335800        0.988            0.988
226   2334700        1.012            1.012
227   5011100        0.980            0.980
228   4903800        0.996            0.996
229   5104500        0.976            0.976
230   5200100        1.013            1.013
231   7251600        0.978            0.978
232   5846400        0.992            0.992
233   6000700        1.031            1.031
234   6938000        0.981            0.981
235   7019600        1.038            1.038
236   6549500        0.985            0.985
237   5043100        1.002            1.002
238   3560500        0.998            0.998
239   3993600        1.004            1.004
240   4554200        1.007            1.007
241   7374500        1.033            1.033
242   6290200        0.995            0.995
243   6979800        1.002            1.002
244   8454400        1.030            1.030
245  10386500        1.019            1.019
246   3821400        1.031            1.031
247   6645800        0.966            0.966
248   6045600        0.979            0.979
249   5117500        1.007            1.007
250   4982800        0.994            0.994

[251 rows x 9 columns]

In [4]:
df_IBM

         Date  Divident
0  2018-02-08   1.47590
1  2018-05-09   1.56871
2  2018-08-09   1.59247
3  2018-11-08   1.60394

In [5]:
df_AAPL=find_divident( './AAPL.csv')

           Date        Open        High         Low       Close   Adj Close  \
0    2018-01-02  170.160004  172.300003  169.259995  172.259995  167.701889
1    2018-01-03  172.529999  174.550003  171.960007  172.229996  167.672668
2    2018-01-04  172.539993  173.470001  172.080002  173.029999  168.451508
3    2018-01-05  173.440002  175.369995  173.050003  175.000000  170.369385
4    2018-01-08  174.350006  175.610001  173.929993  174.350006  169.736588
5    2018-01-09  174.550003  175.059998  173.410004  174.330002  169.717117
6    2018-01-10  173.160004  174.300003  173.000000  174.289993  169.678162
7    2018-01-11  174.589996  175.490005  174.490005  175.279999  170.641968
8    2018-01-12  176.179993  177.360001  175.649994  177.089996  172.404099
9    2018-01-16  177.899994  179.389999  176.139999  176.190002  171.527893
10   2018-01-17  176.149994  179.250000  175.070007  179.100006  174.360886
11   2018-01-18  179.369995  180.100006  178.250000  179.259995  174.516632
12   2018-01-19  178.610001  179.580002  177.410004  178.460007  173.737839
13   2018-01-22  177.300003  177.779999  176.600006  177.000000  172.316452
14   2018-01-23  177.300003  179.440002  176.820007  177.039993  172.355392
15   2018-01-24  177.250000  177.300003  173.199997  174.220001  169.610016
16   2018-01-25  174.509995  174.949997  170.529999  171.110001  166.582321
17   2018-01-26  172.000000  172.000000  170.059998  171.509995  166.971725
18   2018-01-29  170.160004  170.160004  167.070007  167.960007  163.515671
19   2018-01-30  165.529999  167.369995  164.699997  166.970001  162.551865
20   2018-01-31  166.869995  168.440002  166.500000  167.429993  162.999695
21   2018-02-01  167.169998  168.619995  166.759995  167.779999  163.340424
22   2018-02-02  166.000000  166.800003  160.100006  160.500000  156.253067
23   2018-02-05  159.100006  163.880005  156.000000  156.490005  152.349167
24   2018-02-06  154.830002  163.720001  154.000000  163.029999  158.716110
25   2018-02-07  163.089996  163.399994  159.070007  159.539993  155.318436
26   2018-02-08  160.289993  161.000000  155.029999  155.149994  151.044632
27   2018-02-09  157.070007  157.889999  150.240005  156.410004  152.892105
28   2018-02-12  158.500000  163.889999  157.509995  162.710007  159.050415
29   2018-02-13  161.949997  164.750000  161.649994  164.339996  160.643784
..          ...         ...         ...         ...         ...         ...
221  2018-11-15  188.389999  191.970001  186.899994  191.410004  189.142792
222  2018-11-16  190.500000  194.970001  189.460007  193.529999  191.237686
223  2018-11-19  190.000000  190.699997  184.990005  185.860001  183.658539
224  2018-11-20  178.369995  181.470001  175.509995  176.979996  174.883713
225  2018-11-21  179.729996  180.270004  176.550003  176.779999  174.686081
226  2018-11-23  174.940002  176.600006  172.100006  172.289993  170.249252
227  2018-11-26  174.240005  174.949997  170.259995  174.619995  172.551666
228  2018-11-27  171.509995  174.770004  170.880005  174.240005  172.176163
229  2018-11-28  176.729996  181.289993  174.929993  180.940002  178.796799
230  2018-11-29  182.660004  182.800003  177.699997  179.550003  177.423264
231  2018-11-30  180.289993  180.330002  177.029999  178.580002  176.464767
232  2018-12-03  184.460007  184.940002  181.210007  184.820007  182.630859
233  2018-12-04  180.949997  182.389999  176.270004  176.690002  174.597153
234  2018-12-06  171.759995  174.779999  170.419998  174.720001  172.650482
235  2018-12-07  173.490005  174.490005  168.300003  168.490005  166.494278
236  2018-12-10  165.000000  170.089996  163.330002  169.600006  167.591125
237  2018-12-11  171.660004  171.789993  167.000000  168.630005  166.632614
238  2018-12-12  170.399994  171.919998  169.020004  169.100006  167.097046
239  2018-12-13  170.490005  172.570007  169.550003  170.949997  168.925125
240  2018-12-14  169.000000  169.080002  165.279999  165.479996  163.519913
241  2018-12-17  165.449997  168.350006  162.729996  163.940002  161.998169
242  2018-12-18  165.380005  167.529999  164.389999  166.070007  164.102936
243  2018-12-19  166.000000  167.449997  159.089996  160.889999  158.984299
244  2018-12-20  160.399994  162.110001  155.300003  156.830002  154.972397
245  2018-12-21  156.860001  158.160004  149.630005  150.729996  148.944626
246  2018-12-24  148.149994  151.550003  146.589996  146.830002  145.090836
247  2018-12-26  148.300003  157.229996  146.720001  157.169998  155.308350
248  2018-12-27  155.839996  156.770004  150.070007  156.149994  154.300446
249  2018-12-28  157.500000  158.520004  154.550003  156.229996  154.379486
250  2018-12-31  158.529999  159.360001  156.479996  157.740005  155.871613

       Volume  Close Ratio  Adj Close Ratio
0    25555900        0.000            0.000
1    29517900        1.000            1.000
2    22434600        0.995            0.995
3    23660000        0.989            0.989
4    20567800        1.004            1.004
5    21584000        1.000            1.000
6    23959900        1.000            1.000
7    18667700        0.994            0.994
8    25418100        0.990            0.990
9    29565900        1.005            1.005
10   34386800        0.984            0.984
11   31193400        0.999            0.999
12   32425100        1.004            1.004
13   27108600        1.008            1.008
14   32689100        1.000            1.000
15   51105100        1.016            1.016
16   41529000        1.018            1.018
17   39143000        0.998            0.998
18   50640400        1.021            1.021
19   46048200        1.006            1.006
20   32478900        0.997            0.997
21   47230800        0.998            0.998
22   86593800        1.045            1.045
23   72738500        1.026            1.026
24   68243800        0.960            0.960
25   51608600        1.022            1.022
26   54390500        1.028            1.028
27   70672600        0.992            0.988
28   60819500        0.961            0.961
29   32549200        0.990            0.990
..        ...          ...              ...
221  46478800        0.976            0.976
222  36928300        0.989            0.989
223  41925300        1.041            1.041
224  67825200        1.050            1.050
225  31124200        1.001            1.001
226  23624000        1.026            1.026
227  44998500        0.987            0.987
228  41387400        1.002            1.002
229  46062500        0.963            0.963
230  41770000        1.008            1.008
231  39531500        1.005            1.005
232  40802500        0.966            0.966
233  41344300        1.046            1.046
234  43098400        1.011            1.011
235  42281600        1.037            1.037
236  62026000        0.993            0.993
237  47281700        1.006            1.006
238  35627700        0.997            0.997
239  31898600        0.989            0.989
240  40703700        1.033            1.033
241  44287900        1.009            1.009
242  33841500        0.987            0.987
243  49047300        1.032            1.032
244  64773000        1.026            1.026
245  95744600        1.040            1.040
246  37169200        1.027            1.027
247  58582500        0.934            0.934
248  53117100        1.007            1.007
249  42291400        0.999            0.999
250  35003500        0.990            0.990

[251 rows x 9 columns]

In [6]:
df_AAPL

         Date  Divident
0  2018-02-09   0.62564
1  2018-05-11   0.75436
2  2018-08-10   0.83012
3  2018-11-08   0.62547

In [7]:
df_AMZN=find_divident( './AMZN.csv')

           Date         Open         High          Low        Close  \
0    2018-01-02  1172.000000  1190.000000  1170.510010  1189.010010
1    2018-01-03  1188.300049  1205.489990  1188.300049  1204.199951
2    2018-01-04  1205.000000  1215.869995  1204.660034  1209.589966
3    2018-01-05  1217.510010  1229.140015  1210.000000  1229.140015
4    2018-01-08  1236.000000  1253.079956  1232.030029  1246.869995
5    2018-01-09  1256.900024  1259.329956  1241.760010  1252.699951
6    2018-01-10  1245.150024  1254.329956  1237.229980  1254.329956
7    2018-01-11  1259.739990  1276.770020  1256.459961  1276.680054
8    2018-01-12  1273.390015  1305.760010  1273.390015  1305.199951
9    2018-01-16  1323.000000  1339.939941  1292.300049  1304.859985
10   2018-01-17  1312.239990  1314.000000  1280.880005  1295.000000
11   2018-01-18  1293.949951  1304.599976  1284.020020  1293.319946
12   2018-01-19  1312.000000  1313.000000  1292.989990  1294.579956
13   2018-01-22  1297.170044  1327.449951  1296.660034  1327.310059
14   2018-01-23  1338.089966  1364.900024  1337.339966  1362.540039
15   2018-01-24  1374.819946  1388.160034  1338.000000  1357.510010
16   2018-01-25  1368.000000  1378.339966  1357.619995  1377.949951
17   2018-01-26  1392.010010  1402.530029  1380.910034  1402.050049
18   2018-01-29  1409.180054  1431.390015  1400.439941  1417.680054
19   2018-01-30  1403.170044  1439.250000  1392.000000  1437.819946
20   2018-01-31  1451.300049  1472.579956  1450.040039  1450.890015
21   2018-02-01  1445.000000  1459.880005  1385.140015  1390.000000
22   2018-02-02  1477.390015  1498.000000  1414.000000  1429.949951
23   2018-02-05  1402.619995  1458.979980  1320.719971  1390.000000
24   2018-02-06  1361.459961  1443.989990  1351.790039  1442.839966
25   2018-02-07  1449.000000  1460.989990  1415.150024  1416.780029
26   2018-02-08  1429.680054  1433.750000  1349.939941  1350.500000
27   2018-02-09  1373.489990  1383.500000  1265.930054  1339.599976
28   2018-02-12  1364.670044  1393.810059  1344.010010  1386.229980
29   2018-02-13  1385.930054  1419.719971  1383.530029  1414.510010
..          ...          ...          ...          ...          ...
221  2018-11-15  1581.010010  1624.819946  1546.510010  1619.439941
222  2018-11-16  1587.500000  1614.479980  1573.119995  1593.410034
223  2018-11-19  1577.010010  1581.189941  1503.359985  1512.290039
224  2018-11-20  1437.500000  1534.750000  1420.000000  1495.459961
225  2018-11-21  1542.989990  1550.000000  1515.000000  1516.729980
226  2018-11-23  1517.000000  1536.199951  1501.810059  1502.060059
227  2018-11-26  1539.000000  1584.810059  1524.219971  1581.329956
228  2018-11-27  1575.989990  1597.650024  1558.010010  1581.420044
229  2018-11-28  1613.920044  1681.449951  1601.219971  1677.750000
230  2018-11-29  1674.989990  1689.989990  1652.329956  1673.569946
231  2018-11-30  1679.500000  1696.000000  1666.500000  1690.170044
232  2018-12-03  1769.459961  1778.339966  1730.000000  1772.359985
233  2018-12-04  1756.000000  1770.339966  1665.000000  1668.400024
234  2018-12-06  1614.869995  1701.050049  1609.849976  1699.189941
235  2018-12-07  1705.069946  1718.930054  1625.459961  1629.130005
236  2018-12-10  1623.839966  1657.989990  1590.869995  1641.030029
237  2018-12-11  1678.000000  1679.469971  1619.599976  1643.239990
238  2018-12-12  1669.000000  1704.989990  1660.270020  1663.540039
239  2018-12-13  1680.000000  1692.119995  1641.500000  1658.380005
240  2018-12-14  1638.000000  1642.569946  1585.000000  1591.910034
241  2018-12-17  1566.000000  1576.130005  1505.010010  1520.910034
242  2018-12-18  1540.000000  1567.550049  1523.010010  1551.479980
243  2018-12-19  1543.050049  1584.530029  1483.180054  1495.079956
244  2018-12-20  1484.000000  1509.500000  1432.689941  1460.829956
245  2018-12-21  1464.989990  1480.000000  1363.959961  1377.449951
246  2018-12-24  1346.000000  1396.030029  1307.000000  1343.959961
247  2018-12-26  1368.890015  1473.160034  1363.010010  1470.900024
248  2018-12-27  1454.199951  1469.000000  1390.310059  1461.640015
249  2018-12-28  1473.349976  1513.469971  1449.000000  1478.020020
250  2018-12-31  1510.800049  1520.760010  1487.000000  1501.969971

       Adj Close    Volume  Close Ratio  Adj Close Ratio
0    1189.010010   2694500        0.000            0.000
1    1204.199951   3108800        0.987            0.987
2    1209.589966   3022100        0.996            0.996
3    1229.140015   3544700        0.984            0.984
4    1246.869995   4279500        0.986            0.986
5    1252.699951   3661300        0.995            0.995
6    1254.329956   2686000        0.999            0.999
7    1276.680054   3125000        0.982            0.982
8    1305.199951   5443700        0.978            0.978
9    1304.859985   7220700        1.000            1.000
10   1295.000000   5253800        1.008            1.008
11   1293.319946   4026900        1.001            1.001
12   1294.579956   4578500        0.999            0.999
13   1327.310059   4140100        0.975            0.975
14   1362.540039   5169300        0.974            0.974
15   1357.510010   6807500        1.004            1.004
16   1377.949951   4753000        0.985            0.985
17   1402.050049   4857300        0.983            0.983
18   1417.680054   5701900        0.989            0.989
19   1437.819946   5871900        0.986            0.986
20   1450.890015   6424700        0.991            0.991
21   1390.000000   9113800        1.044            1.044
22   1429.949951  11125700        0.972            0.972
23   1390.000000  11495000        1.029            1.029
24   1442.839966  11066800        0.963            0.963
25   1416.780029   7162700        1.018            1.018
26   1350.500000   8578600        1.049            1.049
27   1339.599976  14141500        1.008            1.008
28   1386.229980   6738900        0.966            0.966
29   1414.510010   5917900        0.980            0.980
..           ...       ...          ...              ...
221  1619.439941   8427300        0.987            0.987
222  1593.410034   6066100        1.016            1.016
223  1512.290039   7790000        1.054            1.054
224  1495.459961  10878800        1.011            1.011
225  1516.729980   5716800        0.986            0.986
226  1502.060059   2707600        1.010            1.010
227  1581.329956   6257700        0.950            0.950
228  1581.420044   5783200        1.000            1.000
229  1677.750000   8458700        0.943            0.943
230  1673.569946   6613200        1.002            1.002
231  1690.170044   5761800        0.990            0.990
232  1772.359985   6862300        0.954            0.954
233  1668.400024   8694500        1.062            1.062
234  1699.189941   8789400        0.982            0.982
235  1629.130005   7576100        1.043            1.043
236  1641.030029   7494800        0.993            0.993
237  1643.239990   6244700        0.999            0.999
238  1663.540039   6598000        0.988            0.988
239  1658.380005   5271300        1.003            1.003
240  1591.910034   6367200        1.042            1.042
241  1520.910034   8829800        1.047            1.047
242  1551.479980   6523000        0.980            0.980
243  1495.079956   8792200        1.038            1.038
244  1460.829956   9991800        1.023            1.023
245  1377.449951  13640300        1.061            1.061
246  1343.959961   7220000        1.025            1.025
247  1470.900024  10411800        0.914            0.914
248  1461.640015   9722000        1.006            1.006
249  1478.020020   8829000        0.989            0.989
250  1501.969971   6954500        0.984            0.984

[251 rows x 9 columns]

In [8]:
df_AMZN

Empty DataFrame
Columns: [Date, Divident]
Index: []

In [9]:
df_FB=find_divident( './FB.csv')

           Date        Open        High         Low       Close   Adj Close  \
0    2018-01-02  177.679993  181.580002  177.550003  181.419998  181.419998
1    2018-01-03  181.880005  184.779999  181.330002  184.669998  184.669998
2    2018-01-04  184.899994  186.210007  184.100006  184.330002  184.330002
3    2018-01-05  185.589996  186.899994  184.929993  186.850006  186.850006
4    2018-01-08  187.199997  188.899994  186.330002  188.279999  188.279999
5    2018-01-09  188.699997  188.800003  187.100006  187.869995  187.869995
6    2018-01-10  186.940002  187.889999  185.630005  187.839996  187.839996
7    2018-01-11  188.399994  188.399994  187.380005  187.770004  187.770004
8    2018-01-12  178.059998  181.479996  177.399994  179.369995  179.369995
9    2018-01-16  181.500000  181.750000  178.039993  178.389999  178.389999
10   2018-01-17  179.259995  179.320007  175.800003  177.600006  177.600006
11   2018-01-18  178.130005  180.979996  177.080002  179.800003  179.800003
12   2018-01-19  180.850006  182.369995  180.169998  181.289993  181.289993
13   2018-01-22  180.800003  185.389999  180.410004  185.369995  185.369995
14   2018-01-23  186.050003  189.550003  185.550003  189.350006  189.350006
15   2018-01-24  189.889999  190.660004  186.520004  186.550003  186.550003
16   2018-01-25  187.949997  188.619995  186.600006  187.479996  187.479996
17   2018-01-26  187.750000  190.000000  186.809998  190.000000  190.000000
18   2018-01-29  188.750000  188.839996  185.630005  185.979996  185.979996
19   2018-01-30  187.619995  188.179993  181.839996  187.119995  187.119995
20   2018-01-31  188.369995  189.830002  185.220001  186.889999  186.889999
21   2018-02-01  188.220001  195.320007  187.889999  193.089996  193.089996
22   2018-02-02  192.039993  194.210007  189.979996  190.279999  190.279999
23   2018-02-05  186.929993  190.610001  180.610001  181.259995  181.259995
24   2018-02-06  178.570007  185.770004  177.740005  185.309998  185.309998
25   2018-02-07  184.149994  185.080002  179.949997  180.179993  180.179993
26   2018-02-08  181.009995  181.839996  171.479996  171.580002  171.580002
27   2018-02-09  174.759995  176.899994  167.179993  176.110001  176.110001
28   2018-02-12  177.059998  177.550003  171.839996  176.410004  176.410004
29   2018-02-13  175.619995  175.970001  173.100006  173.149994  173.149994
..          ...         ...         ...         ...         ...         ...
221  2018-11-15  142.330002  144.839996  140.830002  143.850006  143.850006
222  2018-11-16  141.070007  141.770004  137.770004  139.529999  139.529999
223  2018-11-19  137.610001  137.750000  131.210007  131.550003  131.550003
224  2018-11-20  127.029999  134.160004  126.849998  132.429993  132.429993
225  2018-11-21  134.399994  137.190002  134.130005  134.820007  134.820007
226  2018-11-23  133.649994  134.500000  131.259995  131.729996  131.729996
227  2018-11-26  133.000000  137.000000  132.779999  136.380005  136.380005
228  2018-11-27  135.750000  136.610001  133.710007  135.000000  135.000000
229  2018-11-28  136.279999  136.789993  131.850006  136.759995  136.759995
230  2018-11-29  135.919998  139.990005  135.660004  138.679993  138.679993
231  2018-11-30  138.259995  140.970001  137.360001  140.610001  140.610001
232  2018-12-03  143.000000  143.679993  140.759995  141.089996  141.089996
233  2018-12-04  140.729996  143.389999  137.160004  137.929993  137.929993
234  2018-12-06  133.820007  139.699997  133.669998  139.630005  139.630005
235  2018-12-07  139.250000  140.869995  136.660004  137.419998  137.419998
236  2018-12-10  139.600006  143.050003  139.009995  141.850006  141.850006
237  2018-12-11  143.880005  143.880005  141.100006  142.080002  142.080002
238  2018-12-12  143.080002  147.190002  142.509995  144.500000  144.500000
239  2018-12-13  145.570007  145.850006  143.190002  145.009995  145.009995
240  2018-12-14  143.339996  146.009995  142.509995  144.059998  144.059998
241  2018-12-17  143.080002  144.919998  138.419998  140.190002  140.190002
242  2018-12-18  141.080002  145.929993  139.830002  143.660004  143.660004
243  2018-12-19  141.210007  144.910004  132.500000  133.240005  133.240005
244  2018-12-20  130.699997  135.570007  130.000000  133.399994  133.399994
245  2018-12-21  133.389999  134.899994  123.419998  124.949997  124.949997
246  2018-12-24  123.099998  129.740005  123.019997  124.059998  124.059998
247  2018-12-26  126.000000  134.240005  125.889999  134.179993  134.179993
248  2018-12-27  132.440002  134.990005  129.669998  134.520004  134.520004
249  2018-12-28  135.339996  135.919998  132.199997  133.199997  133.199997
250  2018-12-31  134.449997  134.639999  129.949997  131.089996  131.089996

       Volume  Close Ratio  Adj Close Ratio
0    18151900        0.000            0.000
1    16886600        0.982            0.982
2    13880900        1.002            1.002
3    13574500        0.987            0.987
4    17994700        0.992            0.992
5    12393100        1.002            1.002
6    10529900        1.000            1.000
7     9588600        1.000            1.000
8    77551300        1.047            1.047
9    36183800        1.005            1.005
10   27992400        1.004            1.004
11   23304900        0.988            0.988
12   26826500        0.992            0.992
13   21059500        0.978            0.978
14   25678800        0.979            0.979
15   24334500        1.015            1.015
16   17377700        0.995            0.995
17   17759200        0.987            0.987
18   20453200        1.022            1.022
19   20858600        0.994            0.994
20   43275100        1.001            1.001
21   54211300        0.968            0.968
22   26677500        1.015            1.015
23   33128200        1.050            1.050
24   37758500        0.978            0.978
25   27601900        1.028            1.028
26   38478300        1.050            1.050
27   39887600        0.974            0.974
28   32092100        0.998            0.998
29   21809400        1.019            1.019
..        ...          ...              ...
221  30320300        1.003            1.003
222  37250600        1.031            1.031
223  44362700        1.061            1.061
224  41939500        0.993            0.993
225  25469700        0.982            0.982
226  11886100        1.023            1.023
227  24263600        0.966            0.966
228  20750300        1.010            1.010
229  29847500        0.987            0.987
230  24238700        0.986            0.986
231  25732600        0.986            0.986
232  24819200        0.997            0.997
233  30307400        1.023            1.023
234  28218100        0.988            0.988
235  21195500        1.016            1.016
236  26422200        0.969            0.969
237  20300300        0.998            0.998
238  23696900        0.983            0.983
239  18148600        0.996            0.996
240  21785800        1.007            1.007
241  24334000        1.028            1.028
242  24709100        0.976            0.976
243  57404900        1.078            1.078
244  40297900        0.999            0.999
245  56901500        1.068            1.068
246  22066000        1.007            1.007
247  39723400        0.925            0.925
248  31202500        0.997            0.997
249  22627600        1.010            1.010
250  24625300        1.016            1.016

[251 rows x 9 columns]

In [10]:
df_FB

Empty DataFrame
Columns: [Date, Divident]
Index: []

In [11]:
df_GOOG=find_divident( './GOOG.csv')

           Date         Open         High          Low        Close  \
0    2018-01-02  1048.339966  1066.939941  1045.229980  1065.000000
1    2018-01-03  1064.310059  1086.290039  1063.209961  1082.479980
2    2018-01-04  1088.000000  1093.569946  1084.001953  1086.400024
3    2018-01-05  1094.000000  1104.250000  1092.000000  1102.229980
4    2018-01-08  1102.229980  1111.270020  1101.619995  1106.939941
5    2018-01-09  1109.400024  1110.569946  1101.230957  1106.260010
6    2018-01-10  1097.099976  1104.599976  1096.109985  1102.609985
7    2018-01-11  1106.300049  1106.525024  1099.589966  1105.520020
8    2018-01-12  1102.410034  1124.290039  1101.150024  1122.260010
9    2018-01-16  1132.510010  1139.910034  1117.832031  1121.760010
10   2018-01-17  1126.219971  1132.599976  1117.010010  1131.979980
11   2018-01-18  1131.410034  1132.510010  1117.500000  1129.790039
12   2018-01-19  1131.829956  1137.859985  1128.300049  1137.510010
13   2018-01-22  1137.489990  1159.880005  1135.109985  1155.810059
14   2018-01-23  1159.849976  1171.626953  1158.750000  1169.969971
15   2018-01-24  1177.329956  1179.859985  1161.050049  1164.239990
16   2018-01-25  1172.530029  1175.939941  1162.760010  1170.369995
17   2018-01-26  1175.079956  1175.839966  1158.109985  1175.839966
18   2018-01-29  1176.479980  1186.890015  1171.979980  1175.579956
19   2018-01-30  1167.829956  1176.520020  1163.520020  1163.689941
20   2018-01-31  1170.569946  1173.000000  1159.130005  1169.939941
21   2018-02-01  1162.609985  1174.000000  1157.520020  1167.699951
22   2018-02-02  1122.000000  1123.069946  1107.277954  1111.900024
23   2018-02-05  1090.599976  1110.000000  1052.030029  1055.800049
24   2018-02-06  1027.180054  1081.709961  1023.137024  1080.599976
25   2018-02-07  1081.540039  1081.780029  1048.260010  1048.579956
26   2018-02-08  1055.410034  1058.619995  1000.659973  1001.520020
27   2018-02-09  1017.250000  1043.969971   992.559998  1037.780029
28   2018-02-12  1048.000000  1061.500000  1040.927979  1051.939941
29   2018-02-13  1045.000000  1058.369995  1044.087036  1052.099976
..          ...          ...          ...          ...          ...
221  2018-11-15  1044.709961  1071.849976  1031.780029  1064.709961
222  2018-11-16  1059.410034  1067.000000  1048.979980  1061.489990
223  2018-11-19  1057.199951  1060.790039  1016.260010  1020.000000
224  2018-11-20  1000.000000  1031.739990   996.020020  1025.760010
225  2018-11-21  1036.760010  1048.560059  1033.469971  1037.609985
226  2018-11-23  1030.000000  1037.589966  1022.398987  1023.880005
227  2018-11-26  1038.349976  1049.310059  1033.910034  1048.619995
228  2018-11-27  1041.000000  1057.579956  1038.489990  1044.410034
229  2018-11-28  1048.760010  1086.839966  1035.760010  1086.229980
230  2018-11-29  1076.079956  1094.244995  1076.000000  1088.300049
231  2018-11-30  1089.069946  1095.569946  1077.880005  1094.430054
232  2018-12-03  1123.140015  1124.650024  1103.665039  1106.430054
233  2018-12-04  1103.119995  1104.420044  1049.979980  1050.819946
234  2018-12-06  1034.260010  1071.199951  1030.770020  1068.729980
235  2018-12-07  1060.010010  1075.260010  1028.500000  1036.579956
236  2018-12-10  1035.050049  1048.449951  1023.289978  1039.550049
237  2018-12-11  1056.489990  1060.599976  1039.839966  1051.750000
238  2018-12-12  1068.000000  1081.650024  1062.790039  1063.680054
239  2018-12-13  1068.069946  1079.760010  1053.930054  1061.900024
240  2018-12-14  1049.979980  1062.599976  1040.790039  1042.099976
241  2018-12-17  1037.510010  1053.150024  1007.900024  1016.530029
242  2018-12-18  1026.089966  1049.479980  1021.440002  1028.709961
243  2018-12-19  1033.989990  1062.000000  1008.049988  1023.010010
244  2018-12-20  1018.130005  1034.219971   996.359985  1009.409973
245  2018-12-21  1015.299988  1024.020020   973.690002   979.539978
246  2018-12-24   973.900024  1003.539978   970.109985   976.219971
247  2018-12-26   989.010010  1040.000000   983.000000  1039.459961
248  2018-12-27  1017.150024  1043.890015   997.000000  1043.880005
249  2018-12-28  1049.619995  1055.560059  1033.099976  1037.079956
250  2018-12-31  1050.959961  1052.699951  1023.590027  1035.609985

       Adj Close   Volume  Close Ratio  Adj Close Ratio
0    1065.000000  1237600        0.000            0.000
1    1082.479980  1430200        0.984            0.984
2    1086.400024  1004600        0.996            0.996
3    1102.229980  1279100        0.986            0.986
4    1106.939941  1047600        0.996            0.996
5    1106.260010   902500        1.001            1.001
6    1102.609985  1042800        1.003            1.003
7    1105.520020   978300        0.997            0.997
8    1122.260010  1720500        0.985            0.985
9    1121.760010  1575300        1.000            1.000
10   1131.979980  1202600        0.991            0.991
11   1129.790039  1198200        1.002            1.002
12   1137.510010  1778200        0.993            0.993
13   1155.810059  1618000        0.984            0.984
14   1169.969971  1333100        0.988            0.988
15   1164.239990  1416600        1.005            1.005
16   1170.369995  1480500        0.995            0.995
17   1175.839966  2018800        0.995            0.995
18   1175.579956  1378900        1.000            1.000
19   1163.689941  1556300        1.010            1.010
20   1169.939941  1538700        0.995            0.995
21   1167.699951  2412100        1.002            1.002
22   1111.900024  4857900        1.050            1.050
23   1055.800049  3798300        1.053            1.053
24   1080.599976  3448000        0.977            0.977
25   1048.579956  2369200        1.031            1.031
26   1001.520020  2859100        1.047            1.047
27   1037.780029  3505900        0.965            0.965
28   1051.939941  2057700        0.987            0.987
29   1052.099976  1265100        1.000            1.000
..           ...      ...          ...              ...
221  1064.709961  1836100        0.980            0.980
222  1061.489990  1658100        1.003            1.003
223  1020.000000  1858600        1.041            1.041
224  1025.760010  2449100        0.994            0.994
225  1037.609985  1534300        0.989            0.989
226  1023.880005   691500        1.013            1.013
227  1048.619995  1942800        0.976            0.976
228  1044.410034  1803200        1.004            1.004
229  1086.229980  2475400        0.961            0.961
230  1088.300049  1468900        0.998            0.998
231  1094.430054  2580200        0.994            0.994
232  1106.430054  1991200        0.989            0.989
233  1050.819946  2345200        1.053            1.053
234  1068.729980  2769200        0.983            0.983
235  1036.579956  2101200        1.031            1.031
236  1039.550049  1807700        0.997            0.997
237  1051.750000  1394700        0.988            0.988
238  1063.680054  1523800        0.989            0.989
239  1061.900024  1329800        1.002            1.002
240  1042.099976  1686600        1.019            1.019
241  1016.530029  2385400        1.025            1.025
242  1028.709961  2192500        0.988            0.988
243  1023.010010  2479300        1.006            1.006
244  1009.409973  2673500        1.013            1.013
245   979.539978  4596000        1.030            1.030
246   976.219971  1590300        1.003            1.003
247  1039.459961  2373300        0.939            0.939
248  1043.880005  2109800        0.996            0.996
249  1037.079956  1414800        1.007            1.007
250  1035.609985  1493300        1.001            1.001

[251 rows x 9 columns]

In [12]:
df_GOOG

Empty DataFrame
Columns: [Date, Divident]
Index: []

In [13]:
df_MSFT=find_divident( './MSFT.csv')

           Date        Open        High         Low       Close   Adj Close  \
0    2018-01-02   86.129997   86.309998   85.500000   85.949997   83.539680
1    2018-01-03   86.059998   86.510002   85.970001   86.349998   83.928474
2    2018-01-04   86.589996   87.660004   86.570000   87.110001   84.667145
3    2018-01-05   87.660004   88.410004   87.430000   88.190002   85.716881
4    2018-01-08   88.199997   88.580002   87.599998   88.279999   85.804337
5    2018-01-09   88.650002   88.730003   87.860001   88.220001   85.746025
6    2018-01-10   87.860001   88.190002   87.410004   87.820000   85.357239
7    2018-01-11   88.129997   88.129997   87.239998   88.080002   85.609947
8    2018-01-12   88.669998   89.779999   88.449997   89.599998   87.087334
9    2018-01-16   90.099998   90.790001   88.010002   88.349998   85.872368
10   2018-01-17   89.080002   90.279999   88.750000   90.139999   87.612183
11   2018-01-18   89.800003   90.669998   89.660004   90.099998   87.573303
12   2018-01-19   90.139999   90.610001   89.660004   90.000000   87.476105
13   2018-01-22   90.000000   91.620003   89.739998   91.610001   89.040962
14   2018-01-23   91.900002   92.300003   91.540001   91.900002   89.322823
15   2018-01-24   92.550003   93.430000   91.580002   91.820000   89.245064
16   2018-01-25   92.470001   93.239998   91.930000   92.330002   89.740768
17   2018-01-26   93.120003   94.059998   92.580002   94.059998   91.422256
18   2018-01-29   95.139999   95.449997   93.720001   93.919998   91.286179
19   2018-01-30   93.300003   93.660004   92.099998   92.739998   90.139259
20   2018-01-31   93.750000   95.400002   93.510002   95.010002   92.345612
21   2018-02-01   94.790001   96.070000   93.580002   94.260002   91.616646
22   2018-02-02   93.639999   93.970001   91.500000   91.779999   89.206184
23   2018-02-05   90.559998   93.239998   88.000000   88.000000   85.532188
24   2018-02-06   86.889999   91.480003   85.250000   91.330002   88.768806
25   2018-02-07   90.489998   91.769997   89.199997   89.610001   87.097038
26   2018-02-08   89.709999   89.879997   84.760002   85.010002   82.626045
27   2018-02-09   86.300003   88.930000   83.830002   88.180000   85.707153
28   2018-02-12   88.739998   89.779999   87.930000   89.129997   86.630493
29   2018-02-13   88.930000   90.000000   87.800003   89.830002   87.310875
..          ...         ...         ...         ...         ...         ...
221  2018-11-15  104.989998  107.800003  103.910004  107.279999  106.076599
222  2018-11-16  107.080002  108.879997  106.800003  108.290001  107.075256
223  2018-11-19  108.269997  108.559998  103.550003  104.620003  103.446434
224  2018-11-20  101.800003  102.970001   99.349998  101.709999  100.569077
225  2018-11-21  103.599998  104.430000  102.239998  103.110001  101.953369
226  2018-11-23  102.169998  103.809998  102.000000  103.070000  101.913811
227  2018-11-26  104.790001  106.629997  104.580002  106.470001  105.275681
228  2018-11-27  106.269997  107.330002  105.360001  107.139999  105.938156
229  2018-11-28  107.889999  111.330002  107.860001  111.120003  109.873520
230  2018-11-29  110.330002  111.120003  109.029999  110.190002  108.953957
231  2018-11-30  110.699997  110.970001  109.360001  110.889999  109.646095
232  2018-12-03  113.000000  113.419998  110.730003  112.089996  110.832626
233  2018-12-04  111.940002  112.639999  108.209999  108.519997  107.302681
234  2018-12-06  105.820000  109.239998  105.000000  109.190002  107.965172
235  2018-12-07  108.379997  109.449997  104.300003  104.820000  103.644188
236  2018-12-10  104.800003  107.980003  103.889999  107.589996  106.383110
237  2018-12-11  109.800003  110.949997  107.440002  108.589996  107.371895
238  2018-12-12  110.889999  111.269997  109.040001  109.080002  107.856400
239  2018-12-13  109.580002  110.870003  108.629997  109.449997  108.222252
240  2018-12-14  108.250000  109.260002  105.500000  106.029999  104.840607
241  2018-12-17  105.410004  105.800003  101.709999  102.889999  101.735832
242  2018-12-18  103.750000  104.510002  102.519997  103.970001  102.803719
243  2018-12-19  103.650002  106.879997  101.349998  103.690002  102.526863
244  2018-12-20  103.050003  104.309998   98.779999  101.510002  100.371323
245  2018-12-21  101.629997  103.000000   97.459999   98.230003   97.128105
246  2018-12-24   97.680000   97.970001   93.980003   94.129997   93.074097
247  2018-12-26   95.139999  100.690002   93.959999  100.559998   99.431976
248  2018-12-27   99.300003  101.190002   96.400002  101.180000  100.045013
249  2018-12-28  102.089996  102.410004   99.519997  100.389999   99.263878
250  2018-12-31  101.290001  102.400002  100.440002  101.570000  100.430641

        Volume  Close Ratio  Adj Close Ratio
0     22483800        0.000            0.000
1     26061400        0.995            0.995
2     21912000        0.991            0.991
3     23407100        0.988            0.988
4     22113000        0.999            0.999
5     19484300        1.001            1.001
6     18652200        1.005            1.005
7     17808900        0.997            0.997
8     24271500        0.983            0.983
9     36599700        1.014            1.014
10    25621200        0.980            0.980
11    24159700        1.000            1.000
12    36875000        1.001            1.001
13    23601600        0.982            0.982
14    23412800        0.997            0.997
15    33277500        1.001            1.001
16    26383200        0.994            0.994
17    29172200        0.982            0.982
18    31569900        1.001            1.001
19    38635100        1.013            1.013
20    48756300        0.976            0.976
21    47227900        1.008            1.008
22    47867800        1.027            1.027
23    51031500        1.043            1.043
24    67998600        0.964            0.964
25    41107600        1.019            1.019
26    55628700        1.054            1.054
27    63499100        0.964            0.964
28    35720300        0.989            0.989
29    26407700        0.992            0.992
..         ...          ...              ...
221   38505200        0.978            0.978
222   33502100        0.991            0.991
223   44773900        1.035            1.035
224   64052500        1.029            1.029
225   28130600        0.986            0.986
226   13823100        1.000            1.000
227   32336200        0.968            0.968
228   29124500        0.994            0.994
229   46788500        0.964            0.964
230   28123200        1.008            1.008
231   33665600        0.994            0.994
232   34732800        0.989            0.989
233   45197000        1.033            1.033
234   49107400        0.994            0.994
235   45044900        1.042            1.042
236   40801500        0.974            0.974
237   42381900        0.991            0.991
238   36183000        0.996            0.996
239   31333400        0.997            0.997
240   47043100        1.032            1.032
241   56957300        1.031            1.031
242   49319200        0.990            0.990
243   68198200        1.003            1.003
244   70334200        1.021            1.021
245  111242100        1.033            1.033
246   43935200        1.044            1.044
247   51634800        0.936            0.936
248   49498500        0.994            0.994
249   38196300        1.008            1.008
250   33173800        0.988            0.988

[251 rows x 9 columns]

In [14]:
df_MSFT

         Date  Divident
0  2018-02-14   0.36324
1  2018-05-16   0.48575
2  2018-08-15   0.43064
3  2018-11-14   0.52485

In [15]:
# Printing all dataframes together

print("\n\n\t IBM Dividend \n\n" , df_IBM)
print("\n\n\t MSFT Dividend \n\n" , df_MSFT)
print("\n\n\t GOOG Dividend \n\n" , df_GOOG)
print("\n\n\t AAPL Dividend \n\n" , df_AAPL)
print("\n\n\t AMZN Dividend \n\n" , df_AMZN)
print("\n\n\t FB Dividend \n\n" , df_FB)

	 IBM Dividend

          Date  Divident
0  2018-02-08   1.47590
1  2018-05-09   1.56871
2  2018-08-09   1.59247
3  2018-11-08   1.60394


	 MSFT Dividend

          Date  Divident
0  2018-02-14   0.36324
1  2018-05-16   0.48575
2  2018-08-15   0.43064
3  2018-11-14   0.52485


	 GOOG Dividend

 Empty DataFrame
Columns: [Date, Divident]
Index: []


	 AAPL Dividend

          Date  Divident
0  2018-02-09   0.62564
1  2018-05-11   0.75436
2  2018-08-10   0.83012
3  2018-11-08   0.62547


	 AMZN Dividend

 Empty DataFrame
Columns: [Date, Divident]
Index: []


	 FB Dividend

 Empty DataFrame
Columns: [Date, Divident]
Index: []